:root {
  --bg: 87, 181, 112;
  --fg: 255, 255, 255;
  --accent: 255, 255, 255;
  --accent-fg: 87, 181, 112;
  --button: 255, 255, 255;
  --button-fg: 87, 181, 112;
}

.logo {
  filter: saturate(0%);
}
