/* get rid of chrome's borders on form inputs since I have my own borders */
*,*:focus,*:hover{
    outline:none;
}

* {
    font-size-adjust: 0.47;
    font-family: sans-serif;
    font-size: 12pt;

    color: rgb(var(--fg));
}

html {
    background: rgb(var(--bg));
}

.logo::before {
  display: block;
  content: url(logo.png);
  height: 0;
  transform: scale(.5);
  margin: 0;
  opacity: 90%;
  padding: 0;
  transform-origin: top left;
  position: relative;
  top: -2.6em;
}

button, input[type=submit] {
    font-weight: bold;
    color: rgb(var(--button-fg));
    background: rgba(var(--button), 0.9);
    border: none;
    border-radius: 0.3em;
    padding: 0.5em 1em;
    /*font-size-adjust: 0.5;*/
    font-size: 75%;
    height: 2.5em;
}

input[type=number], input[type=text] {
    -moz-appearance: textfield;
    opacity: 80%;
    color: rgba(var(--fg), 2);
    background: transparent;
    padding: 0.8em;
    padding-right: 0.3em;
    border-radius: 0.3em;
    border: 0.1em solid rgba(var(--fg), 0.2);
    font-size: 10pt;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=checkbox] {
    opacity: 80%;
}

#password {
    align-self: flex-end;
    flex-grow: 2;
}

input[type=number]:focus, input[type=text]:focus {
    border: 0.1em solid rgb(var(--accent));
}

button:hover:enabled, input[type=submit]:hover:enabled {
    filter: brightness(105%);
}

button.copy-button:hover {
  filter: contrast(20%);
}

button:not(.x-button):enabled:active, input[type=submit]:active:enabled {
    transform: translateY(0.14em);
}

.disabled-button:disabled {
    opacity: 30%;
}

#select-files {
  background: rgb(var(--accent));
  color: var(--accent-fg);
  height: auto;
}

#upload:disabled {
  opacity: 100%;
  color: rgba(var(--button-fg), 0.3);
  background: rgba(var(--button), 0.3);
}

.upload-settings > p {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.upload-settings > p > label {
    margin-left: 0.2em;
}

.upload-settings > p > input[type=text], input[type=number] {
    margin-left: 1.4em;
    padding: 0.6em;
}

.upload-settings > p > input[type=number] {
  text-align: center;
}


#remove-all-files {
    margin-left: 1em;
    color: var(--accent-fg);
    background: rgb(var(--accent));
}

#upload {
    width: 100%;
    height: 3em;
}

#progress-bar {
  display: block;
  height: 0.4em;
  border-radius: 0 0.3em 0.3em 0.3em;
  margin: 0;
  margin-top: -0.4em;
  background: rgba(var(--button), 0.8);
}

#unlock {
    margin-left: 0.5em;
}

body {
    margin: 0;
}

h1, h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

h3 {
    color: rgba(var(--fg), 0.6);
}

.ui-frame {
    /*max-width: 50em;*/
    width: 54.6em;
    max-width: 95%;
    margin: 0 auto;
    margin-top: 12vh;
    border: solid 0.1em rgba(var(--fg), 0.2);
    border-radius: 0.3em;
    padding: 0.3em;
    overflow: show;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.ui-frame > div {
    margin: 0.5em;
}

.upload-pane {
    width: 33em;
    max-width: calc(100% - 1em);
    padding: 0;
}

.completed-pane {
    padding: 0.5em;
    background: rgba(var(--fg), 0.07);
    border-radius: 0.3em;
    flex-grow: 2;
    width: 17em;
    max-width: 32em;
    min-height: 8em;
}

#upload-indicators {
  position: absolute;
  max-height: 100%;
  width: 100%;
  direction: rtl;
  overflow-y: scroll;
  scrollbar-width: none;
}

#upload-indicators > * {
  direction: ltr
}

.upload-status {
    padding-bottom: 0.3em;
    display: flex;
    align-items: center;
}

/*.upload-status > a > * {
  font-size: 80%;
}*/

.dl-link {
  display: inline-flex;
  overflow: hidden;
  white-space: nowrap;
  flex-grow: 1;
}

.upload-name {
  overflow-x: hidden;
  word-break: break-all;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.upload-status > .x-button {
    padding-left: 0.8em;
    margin-right: 0.5em;
}

.file-area {
    height: 18em;
    background: rgba(var(--accent), 0.1);
    border: dashed 3px rgb(var(--accent));
    border-radius: 0.3em;
    padding: 0 0.5em;
    padding-bottom: 1.5em;
    position: relative;
}

.file-area-prompt {
    width: 100%;
    padding: 0.8em 0;
    text-align: center;
    display: inline-block;
}

.file-size {
    position: relative;
    top: -0.6em;
    display: inline-block;
    font-size: 7pt;
}

.file-area-prompt button {
    margin-left: 1em;
}

.x-button {
    padding: 0.1em;
    height: 100%;
    margin-right: 0.4em;
    font-size: 12pt;
    background: none;
    border: none;
    appearance: none;
    float: right;
    color: rgb(var(--fg));
}

.file-area .x-button {
    padding: 0;
}

#file-previews {
    margin-left: -0.1em;
    margin-right: 0.3em;
    direction: rtl;
    scrollbar-width: thin;
    scrollbar-color: rgba(var(--accent), 0.4) transparent;
    scrollbar-radius: 0.2em;
    overflow-y: auto;
    height: calc(100% - 4.5em);
    margin-top: 0;
    padding-top: 0;
}

.copy-button {
    color: rgb(var(--fg));
    margin-right: 0.5em;
    background: rgba(var(--fg), 0.2);
    white-space: nowrap;
}

.file-preview {
    overflow: hidden;
    height: 1.5em;
    direction: ltr;
    margin: 0;
    margin-left: 0.4em;
    margin-bottom: 0.3em;
    background: rgba(var(--accent), 0.2);
    border-radius: 0.2em;
    padding-left: 0.2em;
    line-height: 1.5em;
}

.file-name {
	display: inline-block;
	max-width: calc(100% - 60px);
	overflow: hidden;
	text-overflow: ellipsis;
}

#all-files {
    position: absolute;
    bottom: 0.3em;
    right: 0.3em;
    display: inline-block;
    vertical-align: middle;
}

a, a > * {
  font-weight: bold;
  color: rgb(var(--accent));
  text-decoration: underline solid 0.1em;
}

.fine-print {
  color: rgba(var(--fg), 0.5);
  text-align: center;
  font-size: 10pt;
}

.confused-file {
  opacity: 70%;
  width: 3em;
  animation: rotation 8s infinite linear;
}
/* https://flaviocopes.com/rotate-image/ */
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.theme-select-box {
  position: relative;
  top: 2em;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 0;
  margin: 0 !important;
  margin-right: -0.8em !important;
  align-items: center;
  opacity: 30%;
}

.theme-select-box:hover {
  opacity: 70%;
}

.theme-select-box > label {
  font-size: 10pt;
}

.theme-select-box::after {
  font-size: 6pt;
  content: "▼";
  width: 0;
  position: relative;
  right: 1.6em;
}

#theme-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-left: 1em;
  background: none;
  border: 0.1em solid rgba(var(--fg), 0.3);
  border-radius: 0.3em;
  padding: 0.2em;
  padding-right: 1em;
  font-size: 10pt;
}

#theme-select > * {
  color: black;
}

#theme-select::after {
  content: "click";
}

@media (max-width: 60em) {
  .ui-frame {
    width: 34em;
    max-width: 95%;
  }
}

@media (max-width: 590px) {
  .dnd-text {
    display: none;
  }

  #select-files {
    margin-left: 0;
    font-size: 11pt;
    width: 100%;
  }

  .file-area {
    height: 11em;
  }

  .file-area-prompt {
    padding-top: 0.5em;
  }

  .ui-frame {
    margin-top: 2.1em;
    min-height: 38em;
    height: 70vh;
    /* https://css-tricks.com/the-trick-to-viewport-units-on-mobile/ */
    height: calc(var(--vh, 1vh) * 100 - 5.5em);
    flex-direction: column;
    align-items: center;
  }

  .completed-pane {
    width: calc(100% - 2em);
    min-height: 0;
  }

  #upload {
    font-size: 12pt;
  }
}
